.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1; 
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    flex: 10; 
}